
.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: auto 1fr;           
  grid-gap: 20px;
  height: 100vh;
  padding: 20px;
}

.section-search {
  grid-column: 1/5; 
  grid-row: 1/2;
}

.searchimput {
  width: 100%;      
  max-width: 600px;
  padding: 10px;
  font-size: 16px;
}

.section-cart{
  grid-column: 1/2; 
  grid-row: 2/3;;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.cartlist {
  list-style: none;       
  padding: 0;                       
  gap: 16px;   
}

.js-delete-btn {
  background: none;
  border: 1px solid black;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.section-products{
  grid-column: 2/5; 
  grid-row: 2/3;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fafafa;
}

.js-productslist {
  list-style: none;       
  padding: 0;             
  display: flex;          
  flex-wrap: wrap;       
  gap: 16px;   
}           

.product-li {
  border: 1px solid #ddd;   
  padding: 12px;
  width: 200px;             
  box-sizing: border-box;   
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.product-img {
  max-width: 100%;          
  height: auto;            
  max-height: 150px;        
  object-fit: contain;      
  margin-bottom: 8px
}

.deletebtn {
  background-color: orangered;
  color: white;
}